# VITE
VITE_PUBLIC_BUILDER_KEY=__BUILDER_PUBLIC_KEY__
PING_MESSAGE="ping pong"

#Porta:
PORT=8080

#PostgreSQL:
DATABASE_URL="postgresql://postgres:12345@localhost:5432/ReciclaTech?schema=public"

#JWT:
JWT_SECRET=""

#OAuth:
SESSION_SECRET=""

#Google OAuth 2.0(Passport):
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:8080/auth/redirect/google"

#Configuração teste:
WEIGHT_PER_BOOKING_KG="5"

#CORS:
CORS_ORIGIN="*"

#Mapas antigo(Teste)
MAPBOX_TOKEN=""
